body {
  background-color: rgb(4, 68, 4);
}

.allItems {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  padding: 30px;
}

#intro {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
}

#info {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 50px;
  margin: 50px 100px 50px 100px;
  background-color: rgba(133, 133, 133, 0.31);
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  color: whitesmoke;
  font-size: large;
}

#h2Rules {
  font-size: larger;
}

#info ul {
  margin-top: 20px;
  margin-bottom: 20px;
}

#info li {
  margin-bottom: 10px;
}

#next {
  display: flex;
  justify-content: center;
  width: 30%;
  padding: 10px 20px;
  font-size: 22px;
  background-color: rgb(118, 29, 29);
  color: white;
}

#next:hover {
  background-color: rgb(255, 204, 153);
  color: black;
}

.light {
  width: 80px;
  height: 80px;
  background-color: rgb(239, 208, 192);
  border: 1px solid black;
}

.dark {
  width: 80px;
  height: 80px;
  background-color: rgb(57, 23, 23);
  border: 1px solid black;
}

.space-behind-checkers {
  width: 100px;
  height: 100px;
  background-color: rgba(245, 212, 174, 0.764);
  position: relative;
  border: 1px;
}

.player-1 {
  width: 80%;
  height: 80%;
  background-color: rgb(162, 37, 37);
  border-radius: 50%;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  align-self: center;
}

.player-2 {
  width: 80%;
  height: 80%;
  background-color: rgb(8, 5, 5);
  border-radius: 50%;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  align-self: center;
}

#Buttons-info {
  display: none;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border: 1px;
  padding: 20px;
  width: 30%;
  margin: 0 auto;
  background-color: rgba(167, 138, 138, 0.391);
  color: white;
  border-radius: 10px;
}

#Buttons-info button {
  background-color: rgb(241, 192, 132);
  color: rgb(57, 23, 23);
  border: none;
  padding: 10px 20px;
  font-size: 18px;
  margin-top: 10px;
  cursor: pointer;
}

#Buttons-info button:hover {
  background-color: rgb(255, 204, 153);
}

#gameBoard {
  visibility: hidden;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0px 0px 0px 40px;
}

#reset {
  display: flex;
  justify-content: center;
  align-self: center;
  background-color: rgb(241, 192, 132);
  color: rgb(57, 23, 23);
  border: none;
  padding: 10px 10px;
  font-size: 18px;
  margin: 40px;
  cursor: pointer;
}

#container {
  border: solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.side-section {
  display: flex;
  justify-content: space-around;
  padding: 20px;
  flex-direction: column;
  color: aliceblue;
  margin: 0px -100px 100px 0px;
}

.score {
  display: flex;
  justify-content: space-between;
  padding: 150px;
  flex-direction: column;
  text-decoration: solid;
  color: aliceblue;
  margin: 50px 0px 30px 0px;
}

#player-1-score {
  border: 1px;
  border-color: white;
}

#player-2-score {
  border: 1px;
  border-color: white;
}

table {
  border-collapse: collapse;
}

table td {
  width: 50px;
  height: 50px;
  border: 1px solid black;
  padding: 0;
}

.king-player-1 {
  width: 80%;
  height: 80%;
  background-color: rgb(162, 37, 37);
  border-radius: 50%;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  align-self: center;
  align-self: center;
  font-size: x-large;
  text-align: center;
}

.king-player-2 {
  width: 80%;
  height: 80%;
  background-color: rgb(8, 5, 5);
  border-radius: 50%;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  align-self: center;
  font-size: x-large;
  text-align: center;
}

